.card {
    background-color: #eee;
    border-radius: 10px;
    overflow: hidden;
    width: 25%;
}

.basket__empty {
    padding: 5% 3%;
}

html {
    scroll-behavior: smooth;
}

.css-10hburv-MuiTypography-root {
    margin-bottom: 1%;
    font-family: "Poppins";
    width: 80%;
}

.priceItem {
    font-family: "Poppins";
}

#totalCart {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1.4em;
    padding: 5%;
}

.css-yb0lig, .css-9l3uo3 {
    font-family: "Poppins";
}

.css-9l3uo3 {
    margin-bottom: 2%;
}

.css-ahj2mt-MuiTypography-root {
    font-family: 'Poppins';
}

.css-jab4h0-MuiTypography-root {
    line-height: 2em;
}

#totalCart .total {
    font-weight: bold;
}