.card {
    background-color: #eee;
    border-radius: 10px;
    overflow: hidden;
    width: 25%;
}

.basket__empty {
    padding: 5% 3%;
}

html {
    scroll-behavior: smooth;
}

/* breakpoints somente amanhã */